<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoRbHYjEsyZw68lZmoUGmcuflmafJ6Z1A</string>
	<key>GCM_SENDER_ID</key>
	<string>667647688535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFinal</string>
	<key>PROJECT_ID</key>
	<string>my-finalabc-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>my-finalabc-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667647688535:ios:5d6f4b67c574131a1cc812</string>
</dict>
</plist>